apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-api
  namespace: demo-api
  labels:
    app: demo-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: demo-api
  template:
    metadata:
      labels:
        app: demo-api
    spec:
      containers:
      - name: demo-api
        image: alanfachim/demo-api:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          name: http
        env:
        - name: DT_TENANT
          valueFrom:
            secretKeyRef:
              name: dynatrace-config
              key: dt-tenant
              optional: true
        - name: DT_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: dynatrace-config
              key: dt-api-token
              optional: true
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
