apiVersion: v1
kind: Service
metadata:
  name: demo-api
  namespace: demo-api
  labels:
    app: demo-api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: demo-api
